{% extends 'base.html.twig'%}

{% block body %}
	<div class="prof-details">
		<h2>{{ teacher.username }}</h2>
		<p>{{ teacher.firstname}}</p>
		<p>{{ teacher.lastname}}</p>
		{# <p>{{ teacher.lesson.title }}</p> #}
	</div>
{% endblock  %}
