.btn,
button {
    display: inline-block;
    text-transform: uppercase;
    padding: 0.25rem 2rem;
    border: 1px solid $accent;
    background-color: $accent;
    color: white;
    border-radius: 7px;
    margin-block: 2rem;
    cursor: pointer;

    &:hover,
    &:focus {
        transition: $transition;
        background-color: white;
        color: $accent;
    }
}