.card {
    // width: 80%;
    margin: auto;
    text-align: center;
    margin-top: $ma-top;
    border: 1px solid darkgrey;
    box-shadow: $bo-shadow;
    // border-radius: $bo-radius;
    line-height: 1.75;

    &:hover {
        transition: $transition;
    }

    a {
        font-family: "Poppins Regular";
        font-weight: 700;

        &:hover {
            color: $accent;
            cursor: pointer;
        }
    }
}