#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 2rem;

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid lightgrey;
        box-shadow: $bo-shadow;
        border-radius: $bo-radius;
        padding: 2rem;
        margin-bottom: 2rem;

        div {
            #user_submit {
                margin: 2rem auto;
                text-align: center;
            }

        }

    }

    label {
        display: block;
        margin-right: 5px;
        text-transform: uppercase;
    }

    ul {
        li {
            color: $accent;
        }
    }

    input,
    textarea {
        width: 400px;
        border-radius: 6px;
        border-width: 2px;
        border-color: $dark;
        height: 1.75rem;

        @media screen and (max-width: 533px) {

            input,
            textarea {
                width: 200px;
            }

        }
    }

    textarea {
        resize: vertical;
        height: 200px;
    }

    a {
        &:hover {
            color: $accent;
        }
    }
}

// Login Form
#login {
    margin-bottom: 2rem;
    color: $dark;
    text-transform: uppercase;

    .form-container {
        display: flex;
        flex-direction: column;
        width: 40%;
        margin: auto;
        border: 1px solid lightgrey;
        border-radius: $bo-radius;
        padding: 2rem;
        box-shadow: $bo-shadow;



        label {
            margin-bottom: 0.5rem;

            &:last-child {
                margin-bottom: 2rem;
            }
        }

        input:not(:last-child) {
            height: 1.75rem;
            border-radius: $bo-radius;
            margin-bottom: 0.5rem;
        }

        button {
            width: 200px;
            margin: auto;
        }
    }
}