#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid $accent;
    border-radius: $bo-radius;
    margin: auto;
    padding: 2rem;
    box-shadow: $bo-shadow;


    label {
        display: block;
        margin-right: 5px;
        text-transform: uppercase;
    }

    input,
    textarea {
        width: 400px;
        border-radius: 6px;
        border-width: 2px;
        border-color: $dark;
        height: 1.75rem;

        @media screen and (max-width: 533px) {

            input,
            textarea {
                width: 200px;
            }

        }
    }

    textarea {
        resize: vertical;
        height: 200px;
    }
}

// Login Form
#login {
    margin-bottom: 2rem;
    color: $dark;
    text-transform: uppercase;

    .form-container {
        display: flex;
        flex-direction: column;
        width: 40%;
        margin: auto;

        label {
            margin-bottom: 0.5rem;

            &:last-child {
                margin-bottom: 2rem;
            }
        }

        input:not(:last-child) {
            height: 1.75rem;
            border-radius: $bo-radius;
            margin-bottom: 0.5rem;
        }

        button {
            width: 200px;
            margin: auto;
        }
    }
}