

#about{
    padding: 2rem;
    .directrice{
            p{
                text-align: justify;
            }
            .vittoria{
                display: flex;
                gap: 2rem;
                img{
                    display: inline;
                width: 20%;
                // Faire un cover-fit pour l'image afin de la rendre rectangulaire mais à l'horizontale
            }
            }
    }
}
#teachers{
    // flex-wrap: wrap;
    // margin-inline: 1rem;
    // h2{
        //     display: inline;
        // }
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        max-width: 90%;
        // margin: 0 auto;
        height: 100%;
        gap: 3%;

        .cards{
            // overflow: hidden;
            padding: 0.75rem;
            width: 30%;
            text-align: center;
            border: 1px solid $light;
            border-radius: $bo-radius;
            box-shadow: $bo-shadow;
            margin: 0 auto;
            height: auto;
            margin-bottom: 2rem;
            .cards-img{
                width: 100%;
                height: auto;
            }
            .cards-body{
                padding: 2rem;
            }
            .cards-title{
                text-align: center;
            }
        }
}

