article {
    margin-inline: 1rem;

    table {
        border-collapse: collapse;
        border-spacing: 0;

        th {
            background-color: $light;
            border: 1px solid;
            padding: 0.75rem;
            border-collapse: collapse;
        }

        td {
            text-align: center;
            border: 1px solid;
            padding: 0.75rem;
            border-collapse: collapse;

            a {
                margin-left: 0;
            }
        }

        i {
            padding: 0.75rem;

            &:hover {
                color: $accent;
            }
        }
    }
}