#dashboard {

    .admin-infos {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $light;
        border-radius: $bo-radius;
        box-shadow: $bo-shadow;
        width: 40%;
        padding: 2rem;
        margin: auto;

        @media screen and (max-width: 950px) {
            flex-direction: column;
            padding-block: 2rem;
            padding-inline: 0;
            text-align: center;
            line-height: 1.75;
        }



        .profile-picture {}

        .admin-photo {
            margin: auto;

            i {
                font-size: 5rem;

                @media screen and (max-width: 630px) {
                    font-size: 4rem;
                }

            }
        }

        .admin-body {
            padding: 2rem;

            p {
                font-weight: bolder;
            }

            .admin-email {
                @media screen and (max-width: 573px) {
                    display: none;
                }
            }
        }


    }

    .links {
        display: flex;
        justify-content: center;
        gap: 2rem;

        .btn {
            @media screen and (max-width: 671px) {
                font-size: 0.5rem;

            }

        }
    }

    .article-table {
        overflow-x: auto;

        @media screen and (max-width: 693px) {
            font-size: 0.5rem;
        }

        @media screen and (max-width: 463px) {
            font-size: 0.4rem;
        }

        @media screen and (max-width: 463px) {
            font-size: 0.3rem;
        }

        .tooltip {
            position: relative;

            /* making the .tooltip span a container for the tooltip text */
            &::before {
                content: attr(data-text);
                /* here's the magic */
                position: absolute;
                /* vertically center */
                top: 50%;
                transform: translateY(100%);

                /* move to right */
                right: 100%;
                margin-left: 15px;
                /* and add a small left margin */

                /* basic styles */
                width: 200px;
                padding: 10px;
                border-radius: 10px;
                background: rgba(0, 0, 0, 0.441);
                color: #fff;
                text-align: center;
                display: none;

            }

            &:hover::before {
                display: block;
            }
        }
    }

}