#dashboard {

    .admin-infos {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $light;
        border-radius: $bo-radius;
        box-shadow: $bo-shadow;
        width: 40%;
        padding: 2rem;
        margin: auto;

        @media screen and (max-width: 950px) {
            flex-direction: column;
            padding: 0;
        }

        .profile-picture {}

        .admin-photo {
            margin: auto;

            i {
                font-size: 5rem;
            }
        }

        .admin-body {
            padding: 2rem;

            p {
                font-style: italic;
            }
        }


    }

    .links {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }

    .article-table {
        overflow-x: auto;

        table {
            border-collapse: collapse;
            border-spacing: 0;
            margin: auto;

            th {
                background-color: $light;
                border: 1px solid;
                padding: 0.75rem;
                border-collapse: collapse;
            }

            td {
                text-align: center;
                border: 1px solid;
                padding: 0.75rem;
                border-collapse: collapse;

                a {
                    margin-left: 0;
                }
            }

            i {
                padding: 0.75rem;

                &:hover {
                    color: $accent;
                }
            }
        }
    }

}