// RESET

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins Regular";
    color: $dark;

}

article {
    // text-align: center;
    margin: 2rem;
}

// Tailles des différents éléments

a {
    text-decoration: none;
    cursor: pointer;
}

h1,
h2,
h3 {
    text-align: center;
    text-transform: uppercase;
    margin-block: 2rem;
}

ul {
    list-style: none;
}

strong {
    font-family: "Poppins Bold";
}

section {
    margin-top: $ma-top;
    margin-bottom: $ma-bottom;
}

.divider {
    border-top: 3px solid rgb(207, 207, 207);
    margin-inline: 20rem;
}

.border {
    border-top: 3px solid $dark;
    width: 160px;
    margin: 1rem auto;

}