html {
    font-family: "Poppins Regular";
    color: $dark;
}

article {
    // text-align: center;
    margin: 2rem;
}

// Tailles des différents éléments

a {
    text-decoration: none;
    text-transform: uppercase;
}

h1,
h2 {
    text-align: center;
    text-transform: uppercase;
}


i {
    padding: 2rem;
}

section {
    margin-top: $ma-top;
    margin-bottom: $ma-bottom;
}

.divider {
    border-top: 3px solid rgb(207, 207, 207);
    margin-inline: 20rem;
}