footer {
    background-color: $light;
    width: 100%;
    padding: 0 3%;


    .footnav {
        display: flex;
        justify-content: space-evenly;
        margin-top: $ma-top;

        @media screen and (max-width: 596px) {
            flex-direction: column;
        }

        .g-map {
            display: block;
            width: 50vw;
            border: 0;
            margin-top: $ma-top;
            max-width: 800px;
            max-height: 600px;
            border: 2px solid $accent;
            border-radius: $bo-radius;
            box-shadow: $bo-shadow;

            @media screen and (max-width: 596px) {
                height: 350px;
                width: 70%;
                margin: auto;
            }
        }

        .info {
            text-align: center;
            margin-bottom: 1.5rem;
            // @media screen and (max-width: 596px) {
            //     margin-bottom: ;
            // }

            p {
                line-height: 1.5rem;
            }

        }
    }

    .lien {
        display: flex;
        gap: 2rem;
        justify-content: center;
        align-items: center;

        p {
            display: block;
            margin-top: $ma-top;
            color: $dark;
        }
    }
}