footer {
    background-color: $light;
    width: 100%;
    padding: 0 3%;


    .footnav {
        display: flex;
        justify-content: space-evenly;
        margin-top: $ma-top;

        @media screen and (max-width: 596px) {
            flex-direction: column;
        }

        .g-map {
            display: block;
            width: 50vw;
            border: 0;
            margin-top: $ma-top;
            max-width: 800px;
            max-height: 600px;
            border: 2px solid $accent;
            border-radius: $bo-radius;
            box-shadow: $bo-shadow;

            @media screen and (max-width: 596px) {
                height: 350px;
                width: 70%;
                margin: auto;
            }

            @media screen and (max-width: 450px) {
                display: none;
            }

        }

        .info {
            text-align: center;
            margin-bottom: 1rem;
            // margin-bottom: 1.5rem;
            // @media screen and (max-width: 596px) {
            //     margin-bottom: ;
            // }

            img {
                margin-top: 2rem;
            }

            h3 {
                margin-top: 0;
                margin-bottom: 1.25rem;
            }

            p {
                line-height: 1.5rem;
            }

            a {
                margin-right: 0.5rem;
                font-size: 1.5rem;
            }

            &.r-sociaux {
                margin-bottom: 1.25rem;
            }
        }
    }

    .links {
        display: flex;
        justify-content: center;
        padding-block: 1rem;


        ul {
            display: flex;
            align-items: center;
            gap: 1rem;

            @media screen and (max-width: 610px) {
                flex-direction: column;
            }

            li {

                &:not(:last-child) {
                    padding-right: 1rem;
                    border-right: 1px solid $dark;

                    @media screen and (max-width: 610px) {
                        border-right: 0;
                    }
                }

            }

        }

        p {
            display: block;
            margin-top: $ma-top;
            padding-inline: 1rem;
            color: $dark;

            &::after {
                content: '|';
            }

            &:not(:last-child)::after {
                content: '';
            }

            @media screen and (max-width: 610px) {
                margin-top: 0;
                border: 0;
            }
        }
    }
}


.confidentialite {
    text-align: justify;
    margin-block: 2rem;
}

.mentions {
    text-align: justify;
    margin-block: 2rem;

}