header {
    background-color: $light;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 969px) {
        justify-content: flex-start;
    }

    // @media screen and (max-width: 768px) {

    //     #main-header .navbar,
    //     #main-header a.nav-links,
    //     i {
    //         flex-direction: row;
    //     }

    //     #main-header .navbar {
    //         justify-content: center;
    //     }

    //     #main-header a.nav-links {
    //         gap: 2rem;
    //     }
    // }

    .navbar {
        margin-right: 3rem;

        // @media screen and (max-width: 969px) {
        // }

        .logo {
            display: inline;
        }

        .menu {
            list-style: none;
            display: flex;
            gap: 1.25rem;
            // visibility: visible;

            @media screen and (max-width: 969px) {
                text-align: center;
                display: none;
                flex-direction: column;
            }

            li {
                a.nav-links {
                    text-decoration: none;
                    text-transform: uppercase;
                    display: inline;
                    font-weight: 600;
                    font-size: 1.2rem;
                    color: $dark;
                    font-size: 17px;

                    &:hover {
                        color: $accent;
                    }
                }

                a.register-link {
                    color: $light;
                    background-color: $accent;
                    padding: 0.5rem;
                    border-radius: 3px;

                    &:hover {
                        background-color: $light;
                        color: $accent;
                        border: 1px solid $accent;
                        transition: 0.5s ease-in-out, transform 150ms ease;
                    }
                }

                a.login-link {
                    border: 1px solid $accent;
                    background-color: $light;
                    padding: 0.5rem;
                    color: $accent;
                    border-radius: 3px;


                    &:hover {
                        color: $light;
                        background-color: $accent;
                        transition: 0.5s ease-in-out, transform 150ms ease;
                    }
                }


            }
        }
    }

    .burger {
        padding: 0;
        font-size: 1.75rem;
        color: $dark;
        cursor: pointer;
        display: none;

        @media screen and (max-width: 969px) {
            display: block;
            top: -10px;
            font-size: 1.75rem;
            margin: 5px;
        }
    }

    // #menu.toggle {

    // #signin-modal {
    //     // visibility: visible;
    //     position: absolute;
    //     background-color: darkgrey;
    //     opacity: 0;
    //     transition: 0.5s ease-in-out, transform 150ms ease: opacity 0.3s, visibility 0.3s;
    //     &.is_visible {
    //         visibility: visible;
    //         opacity: 1;
    //     }
    // }
    // }
}

.active {
    display: block;
}