{% extends 'base.html.twig'%}


{% block body %}

	<h2>Mettre à jour votre article :</h2>
	<div class="border"></div>
	<div class="articleForm">
		{{form_start(articleForm)}}
		{{form_rest(articleForm)}}
		{{form_end(articleForm)}}
	</div>
{% endblock %}
