{% extends 'base.html.twig' %}

{% block title %} Prof {{ teacher.firstname }} {{ teacher.lastname }}{% endblock %}

{% block body %}
<div class="card">
    <h1>{{ teacher.firstname }} {{ teacher.lastname }}</h1>
    <h2>Professeur de Hip-Hop</h2>
    <p>Âge : 23 ans</p>
    <p>Biographie : Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur expedita fugit nihil hic minus nostrum assumenda vel voluptatem labore! Sint fugiat quo incidunt sapiente saepe culpa quis eius quidem unde.</p>
</div>
{% endblock %}
