{% extends 'base.html.twig' %}

{% block title %}Formulaire de contact{% endblock %}

{% block body %}
    <h2>N'hésite pas à poser ta question !</h2>
    <div class="contactForm">
        {{ form(contactForm) }}
    </div>

{% endblock %}